<h2>{{title}}</h2>
<div>
    <div class="form-group">
        <label>Name</label>
        <strong>{{data.name}}</strong>
    </div>
    <div class="form-group">
        <label>Surname</label>
        <strong>{{data.surname}}</strong>
    </div>
    <div class="form-group">
        <label>Age</label>
        <strong>{{data.age}}</strong>
    </div>
    <div class="form-group">
        <label>Job</label>
        <strong>{{data.job}}</strong>
    </div>
    <div class="text-right">
        <button type="reset" class="btn btn-primary" onclick="location.href='/';">Back</button>
    </div>
</div>