<h2>{{title}}</h2>
<div class="row" style="padding: 10px 0;">
    <div class="col-md-12 text-right">
        <a href="/add" class="btn btn-primary">Add New</a>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Job</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{age}}</td>
                <td>{{job}}</td>
                <td>
                    <a href="/detail/{{id}}">Detail</a>
                    &nbsp;|&nbsp;
                    <a href="/edit/{{id}}">Edit</a>
                </td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</div>